.shop {
  position: relative;
  .result {
    font-size: 17px;
  }
  .sorting {
    padding: 7px;
    opacity: 0.7;
    font-size: 17px;
  }
}

@media screen and (max-width: 992px) {
  .shop {
    .items {
      .col-3 {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .shop {
    .items {
      .col-3 {
        width: 100%;
      }
    }
  }
}
